@model IEnumerable<WebApplication.Models.Tbl_Rezervasyonlar>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Css/stilim.css" rel="stylesheet" />
</head>
<body>
    <h1>Sakaraya BİP Otomativ</h1>
    <h3>Araç Listesi</h3>
    <table class="table" border="1" cellpadding="6" cellspacing="0" width="600">
        <tr>
            <th> </th>
            <th width="90">Araç Resim</th>  
            <th>Rezerv ID</th>
            <th>Alma Tarihi</th>
            <th>Teslim Tarihi</th>
            <th>Ücret</th>
            <th>İptal Tarihi</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td colspan="2">
                    @{
                        var dir = "~/VehicleImages/" + item.AracId + ".jpg";
                        string FolderPath = Path.Combine(Server.MapPath(dir));
                        if (System.IO.File.Exists(FolderPath))
                        {
                            <img src="@Url.Content(dir)" width="100" />
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RezervasyonId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlmaTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeslimTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ucret) TL
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IptalMi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IptalTarihi)
                </td>
                <td>
                    @Html.ActionLink("Detay", "Details", new { id = item.AracId }) |
                </td>
            </tr>
        }
    </table>
    <p>
        @Html.ActionLink("Profil", "Profil") |
        @Html.ActionLink("Oturumu Kapat", "Cikis") |
        @Html.ActionLink("Rezervasyonlarım", "Index", "Rezervation") |
        @Html.ActionLink("Araçlar", "Index", "Vehicle") |
    </p>
</body>
</html>
