@model IEnumerable<WebApplication.Models.Tbl_Araclar>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Css/stilim.css" rel="stylesheet" />
</head>
<body>
    <h3>Araç Listesi</h3>
    <p>
        @Html.ActionLink("Araç Ekle", "Create")
    </p>
    <table class="table" cellpadding="6" cellspacing="0" border="1">
        <tr>
            <th>
             
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelYili)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yakit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vites)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiyat)
            </th>

        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @{ // duruma göre ekle boş resimler gösterilmesin
                    var dir = "/VehicleImages/" + item.AracId + ".jpg";
                    <img src="@Url.Content(dir)" width="100"/>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelYili)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yakit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vites)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fiyat)
            </td>
            <td>
                @Html.ActionLink("Güncelle", "Edit", new { id = item.AracId }) |
                @Html.ActionLink("Detay", "Details", new { id = item.AracId }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.AracId }) |
                @Html.ActionLink("Resim Yükle", "SaveImages", new { id = item.AracId }) 
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
