@model WebApplication.Models.Tbl_Musteriler

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profil</title>
    <link href="~/Css/stilim.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm())
    {
        <h1>Sakarya Bip Otomativ</h1>
        <h4>Müşteri Kayıt Sayfası (Hoşgeldiniz @Html.DisplayFor(model => model.TcKimlik))</h4>

        <table border="1" cellpadding="5" cellspacing="0" width="500">
            <tr>
                <td width="40%">Tc Kimlik No</td>
                <td>@Html.DisplayFor(model => model.TcKimlik, new { htmlAttributes = new { @class = "form-control" } })</td>
            </tr>
            <tr>
                <td>Ad Soyad</td>
                <td>@Html.EditorFor(model => model.AdSoyad, new { htmlAttributes = new { @class = "form-control" } })</td>
            </tr>
            <tr>
                <td>Doğum Tarihi</td>
                <td>@Html.EditorFor(model => model.DogumTarihi, new { htmlAttributes = new { @class = "form-control" } })</td>
            </tr>
            <tr>
                <td>Cinsiyet</td>
                <td>
                    @Html.RadioButtonFor(model => model.Cinsiyet, "E") Erkek
                @Html.RadioButtonFor(model => model.Cinsiyet, "K") Kadın
            </td>
        </tr>
        <tr>
            <td>Telefon</td>
            <td>@Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control" } })</td>
        </tr>
        <tr>
            <td><input type="submit" value="Kaydet" /></td>
        </tr>

    </table>
}

<p>
    @Html.ActionLink("Profil", "Profil") |
    @Html.ActionLink("Şifre Değiştir", "SifreDegistir") |
    @Html.ActionLink("Oturumu Kapat", "Cikis") |
    @Html.ActionLink("Rezervasyonlarım","Index", "Rezervation") |
    @Html.ActionLink("Araçlar","Index", "Vehicle") |
</p>
</body>
</html>
